.heading-1 {
  text-align: center;
  padding: 50px;
  font-size: 70px;
  font-family: "Poppins";
  font-weight: 900;
  color: #fff;
}
.form-control {
  width: 592px;
  height: 56px;
  background: linear-gradient(
    158.22deg,
    rgba(188, 188, 188, 0.21) 29.5%,
    rgba(71, 71, 72, 0.12) 135.77%
  );
}
.form-control1 {
  width: 592px;
  height: 56px;
  background-color: white;
  border-radius: 10px;
  margin-left: 2rem;
}
.form-control1::placeholder {
  color: black !important;
}
input::placeholder {
  color: #fff !important;
}
.input-group {
  margin: auto;
}
.input-group12 {
  width: 592px;
  height: 56px;

  background: linear-gradient(
    158.22deg,
    rgba(188, 188, 188, 0.21) 29.5%,
    rgba(71, 71, 72, 0.12) 135.77%
  ) !important;
  border-radius: 15px;
  display: block;
  margin: 0 auto;
}
.main-button {
  text-align: center;
}
.explore {
  width: 154.7px;
  height: 56px;
  left: 559.35px;
  top: 224.5px;
  /* background: #E6E6E6; */
  border-radius: 15px;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}
.sell {
  width: 154.7px;
  height: 56px;
  left: 559.35px;
  top: 224.5px;
  /* background: #FEC200; */
  border-radius: 15px;
  font-family: "Poppins";

  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin-left: 30px;
}
@media screen and (max-width: 768px) {
  .heading-1 {
    font-size: 32px;
    padding: 0px;
  }
  .input-group12 {
    width: 80%;
    display: block;
    margin: 1rem auto;
  }
}
