.navbar-width {
  width: 100%;
}
.nav-icons {
  list-style-type: none !important;
  display: flex !important;
}
.nav-icons-1 {
  font-size: 32px;
  font-weight: 700;
  padding-right: 20px;
  /* color: #fff; */
}
.nav-icons-2 {
  font-size: 32px;
  font-weight: 700;
  /* padding-right: 20px; */
  /* color: #fff; */
}
.form-switch {
  padding-left: 0.5em !important;
}
.navbar-nav {
  font-family: "Poppins";
  font-weight: 600;
}
.logo-1 {
  width: 175px;
}
.collapse {
  padding-top: 24px;
}

/* .input-1 {
  width: 50%;
} */
.nav-link.active {
  /* color: #fff !important; */
  font-size: 20px !important;
  font-weight: 28px !important;
  font-family: "Poppins" sans-serif !important;
  height: 72px;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.nav-tabs .nav-link.active {
  background-color: transparent !important;
  border: none !important;
}
.nav-tabs .nav-link:hover {
  border: none !important;
  isolation: none !important;
}
@media screen and (max-width: 992px) {
  .navicon23 {
    display: none !important;
  }
}
